#gcry{height:125px;width:125px;}
#fshn{height:125px;width:125px;}
#phn{height:125px;width:125px;}
#appl{height:125px;width:125px;}
#furn{height:125px;width:125px;}
.hmbrd1{background-color:black;
padding:10px 25px;
}
.hmbrd2{display:flex;}
.hmbrd3{width:100vw;padding-left:100px;}
.hmbrd4{width:100vw;padding-left:100px;}
.hmbrd5{width:100vw;padding-left:100px;}
.hmbrd6{width:100vw;padding-left:100px;}
.hmbrd7{width:100vw;padding-left:100px;}
