#logo1{height:50px;
width:300px;}
#cart{height:40px;
width:40px;}
#tline{height:25px;
width:25px;}
#arleft{height:15px;
width:30px;}
.search1{width:600px;
}
.navd1{background-color:black;
padding:10px 25px;}
.navd2{display:flex;}
.navd3{width:100vw;padding-right:20px;
}
.navd4{
width:200vw;padding-right:20px;padding-top:6px;
}
.navd5{
width:100vw;padding-top:6px;
}

.navd6{
width:100vw;padding-top:6px;
}

.navd7{
width:100vw;padding-top:8px;
}
.navd8{
width:100vw;padding-top:6px;
}